include *.txt
include *.md
include *.pkl
recursive-include ./app *
recursive-include ./datasets *
recursive-include ./logdeep *
recursive-include ./logparser *

include ./requirements/requirements.txt
include app/VERSION
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]